header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #202020;
    padding:0px 16px;
}

.left{
    display: flex;
    align-items: center;
}

#brand{
    width: 120px;
    height: 20px;
    padding: 18px 16px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 1000;
    font-size: 20px;
    font-family: monospace;
}

#menu{
    color: #ffffff;
    font-size: 24px;
}

.middle{
    display: flex;
    align-items: center;
}

#searchbox{
    display: flex;
}

#searchbox > input{
    width: 572px;
    height: 34px;
    padding: 2px 6px;
    border:1px solid #323232;
    border-right: none;
    background-color: #121212;
    font-size: 16px;
}

#searchbox > button{
    font-size: 24px;
    color: #ffffff;
    height: 40px;
    width: 64px;
    padding: 1px 6px;
    border: 1px solid #323232;
    background-color: #323232;
}

#microphone{
    color: #ffffff;
    background-color: #181818;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 16px;
}

.right{
    display: flex;
    align-items: center;
}

#apps{
    width: 40px;
    padding:6.5px 8px;
}

#settings{
    font-size: 20.5px;
    color: #ffffff;
    padding: 8px;
    width: 40px;
}

#sign-in-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 108.75px;
    height: 40px;
    border: 1px solid #3ea6ff;
    color: #3ea6ff;
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
    padding:5px 11px;
}